{% extends 'Djangoapp/layout.html' %}
{% load static %}
{% block title %}Лекции{% endblock %}

{% block content %}
<div class="features1">
    <h1>Предметы</h1>
    <div class="main-container">
        <div class="Lecture-card">
            <a class="main-button" href="https://telemost.yandex.ru/">
                <div class="lecture-item">
                    <img src="{% static 'Djangoapp/img/image15.svg' %}" width="200"
                     height="200" alt="Folder"/>
                    <p>
                        Интернет-технологии
                    </p>
                </div>
            </a>
        </div>
        <div class="Lecture-card">
            <a class="main-button" href="https://telemost.yandex.ru/">
                <div class="lecture-item">
                    <img src="{% static 'Djangoapp/img/image15.svg' %}" width="200"
                     height="200" alt="Folder"/>
                    <p>
                        УИП
                    </p>
                </div>
            </a>
        </div>
        <div class="Lecture-card">
            <a class="main-button" href="https://telemost.yandex.ru/">
                <div class="lecture-item">
                    <img src="{% static 'Djangoapp/img/image15.svg' %}" width="200"
                     height="200" alt="Folder"/>
                    <p>
                        ПОЭИС
                    </p>
                </div>
            </a>
        </div>
        <div class="Lecture-card">
            <a class="main-button" href="https://telemost.yandex.ru/">
                <div class="lecture-item">
                    <img src="{% static 'Djangoapp/img/image15.svg' %}" width="200"
                     height="200" alt="Folder"/>
                    <p>
                        ТЭТ
                    </p>
                </div>
            </a>
        </div>
        <div class="Lecture-card">
            <a class="main-button" href="https://telemost.yandex.ru/">
                <div class="lecture-item">
                    <img src="{% static 'Djangoapp/img/image15.svg' %}" width="200"
                     height="200" alt="Folder"/>
                    <p>
                        ИЭНИС
                    </p>
                </div>
            </a>
        </div>
        <div class="Lecture-card">
            <a class="main-button" href="https://telemost.yandex.ru/">
                <div class="lecture-item">
                    <img src="{% static 'Djangoapp/img/image15.svg' %}" width="200"
                     height="200" alt="Folder"/>
                    <p>
                        ПЭП
                    </p>
                </div>
            </a>
        </div>




    </div>
</div>
{% endblock %}