{% extends 'Djangoapp/layout.html' %}
{% load static %}
{% block content %}
<aside1>
    <div class="menu-container-two">
        <div>

            <ul class="menu-two-container"
                style="padding-left:20px;">

                <li class="menu-item-two">

                    <h4>Предмет</h4>
                </li>
                </a>
            </ul>

            <a class="menu-item-container" href="{% url 'nachal' %}">
                <li class="menu-item">

                    Главная
                </li>
            </a>


            

        </div>
    </div>

</aside1>
<div class="Rectangle6311"
     style="width: 508px; height: 462px; background: #D9D9D9; border-radius: 10px; border: 1px black solid"></div>
<div class="MatAvatar"
     style="width: 41px; height: 40px; padding: 10px; background: #2196F3; border-radius: 50px; overflow: hidden; border: 1px black solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div class="Person"
         style="text-align: center; color: white; font-size: 24px; font-family: Material Icons; font-weight: 400; line-height: 24px; word-wrap: break-word">
        person
    </div>
</div>
<div class="MatAvatar"
     style="width: 41px; height: 40px; padding: 10px; background: #B2DFDB; border-radius: 50px; overflow: hidden; border: 1px black solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div class="Person"
         style="text-align: center; color: white; font-size: 24px; font-family: Material Icons; font-weight: 400; line-height: 24px; word-wrap: break-word">
        person
    </div>
</div>
<div class="MatCard"
     style="width: 410px; height: 88px; background: white; box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.20); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div class="MatCardText"
         style="align-self: stretch; height: 87px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; border-radius: 50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div class="1200"
             style="align-self: stretch; color: #AE3D3D; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22px; letter-spacing: 0.10px; word-wrap: break-word">
            Здравствуйте, скажите пожалуйста будет ли у нас пара в этот четверг в 12.00
        </div>
    </div>
    <div class="MatDivider"
         style="width: 410px; height: 1px; position: relative; background: rgba(0, 0, 0, 0.12)"></div>
</div>
<div class="MatCard"
     style="width: 410px; height: 88px; background: white; box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.20); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div class="MatCardText"
         style="align-self: stretch; height: 87px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; border-radius: 50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div class="1420"
             style="width: 384px; height: 25px; color: #AE3D3D; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22px; letter-spacing: 0.10px; word-wrap: break-word">
            Здравствуйте, пары к сожалению не будет в четверг, но она переноситься на понедельник в 14.20
        </div>
    </div>
    <div class="MatDivider"
         style="width: 410px; height: 1px; position: relative; background: rgba(0, 0, 0, 0.12)"></div>
</div>
<div class="MatCard"
     style="width: 410px; height: 88px; background: white; box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.20); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div class="MatCardText"
         style="align-self: stretch; height: 87px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; border-radius: 50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="align-self: stretch; color: #AE3D3D; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22px; letter-spacing: 0.10px; word-wrap: break-word">
            Спасибо огромное за ответ.
        </div>
    </div>
    <div class="MatDivider"
         style="width: 410px; height: 1px; position: relative; background: rgba(0, 0, 0, 0.12)"></div>
</div>
<div class="MatAvatar"
     style="width: 41px; height: 40px; padding: 10px; background: #B2DFDB; border-radius: 50px; overflow: hidden; border: 1px black solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div class="Person"
         style="text-align: center; color: white; font-size: 24px; font-family: Material Icons; font-weight: 400; line-height: 24px; word-wrap: break-word">
        person
    </div>
    {% endblock %}