{% extends 'Djangoapp/layout.html' %}

{% block title %}Динамическое расписание{% endblock %}

{% block content %}

<div class="container">
    <div class="content-flex">
        <div class="content-flex-column">
            <h1>Ближайшие лекции</h1>
            {% if news %}
            {% for item in news %}
            <div class="news1">
                <h1>{{item.title}}</h1>
                <h4>{{item.date}}</h4>
                <h4>{{item.groups}}</h4>
                <h4>{{item.short_dest}}</h4>
                <a href="https://telemost.yandex.ru/" class="btn btn-warning">Подключиться</a>
            </div>
            {% endfor %}
            {% else %}
            <p>Ближайших лекций нет</p>
            {% endif %}
        </div>
    </div>
</div>

<style>

</style>

{% endblock %}
