body {
    background: #E0FFFF;
min-height: 100vh;
}
main{
    min-height: 100vh;
}
aside {
    float: left;
    background: #AFEEEE;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    border-right: 5px solid #B0C4DE;
}
aside img {
    width: 80px;
    float: center;
}
aside .logo {
    font-size: 20px;
    font-weight: bold;
}
    aside h3 {
    margin-top: 30px;
    font-size: 30px;
}
aside ul {list-stile: none} a{text-decoration: none}
aside ul li{
    color: black;
    display: block;
    margin-top: 10px;
}
aside ul li:hover, aside ul a:hover {
    color: #ff0000;
transform: scale(1.05)
}

main .features {
  float: left;
  color: black;
  margin-top: 30px;
   text-align: center;
  width:100%;
}
main .features h1 {font-size: 50px;}
main .features p {max-width: 100px; margin: 20px auto}

main .mb-3{
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.aab {
    width:40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
main .features1 {
    text-align: center;
    width:100%;
    position: relative;
    top: 30px;
}
.features button{
    color: black;
}

.container py-5{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
}

body {
    display: flex;
}
main {
    width: 100%;
}

.table th,
.table td {
    padding: 30px;
}
main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   text-align: center;
    margin: 0 auto;
}